.idea/
**/.DS_Store
**/__pycache__/
**/.ipynb_checkpoints/
data/
catboost_info/
notebooks/kyle/venv
notebooks/kyle/categorio_v3_meta.pt
notebooks/kyle/feature_statistics.csv
notebooks/kyle/memo_transformer_artifacts.pkl
notebooks/kyle/memo_transformer_multimodal.pt
notebooks/kyle/memos_cleaned.csv
notebooks/kyle/numerical_features.csv
notebooks/haris/notebook.ipynb